#search-bar-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cdcdcd;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

#searchInput{
  border-radius: 5px;
  border: 1px solid black;
  width: 400px;
  padding: 5px;
}

/* testing */
.form-field {
  position: relative;
  display: inline-block;
}

.icon {
  position: absolute;
  right: 0;
}